<% provide(:title, "iscriviti, accedi, e inizia a pubblicare i tuoi progetti") %>
<% provide(:sitep,  "rel=canonical href=http://www.bitbooks.it/ itemprop=url") %>
<% provide(:metaD,  "Unisciti al forum di Bitbooks, apri la mente e lascia
          spazio all'idee, realizza in maniera totalmente gratuita e intuitiva,
          racconti di qualsiasi genere,per poi condividerli con il resto del mondo.") %>
<!-- start of section 1 -->
<header id="header" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1><%= site_name %></h1>
      <h3>Share a new story</h3>
      <%= link_to "Entra nel forum", microposts_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</header>
<!-- end of section 1 -->

<!-- start of section 2 -->
<section id="section2" class="container">
  <div class="row text-center"> <!-- Riga caratteristiche -->
    <h2>Caratteristiche</h2>
  </div>
  <div class="row text-center"> <!-- Riga contenuto -->
    <div class="col-sm-4">
      <div class="cont-forum">
        <i class="features glyphicon glyphicon-book"></i>
        <%#= image_tag 'fe-1.jpg', class: "img-responsive" %>
        <h4><b>Racconti</b></h4>
        <p>
          Apri la mente e lascia
          spazio all'idee, realizza in maniera totalmente gratuita e intuitiva,
          racconti di qualsiasi genere.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cont-forum">
        <i class="features glyphicon glyphicon-paperclip"></i>
          <%#= image_tag 'fe-2.jpg', class: "img-responsive" %>
          <h4><b>Condividi</b></h4>
          <p>
            Condividi i tuoi racconti, gli altri utenti potranno commentare il
            tuo elaborato suggerendoti modifiche e valutarlo con semplici mi piace
          </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cont-forum">
        <i class="features glyphicon glyphicon-star"></i>
        <%#= image_tag 'fe-3.jpg', class: "img-responsive" %>
        <h4><b>Classifica</b></h4>
        <p>
          Diventa il miglior scrittore del sito e scala la classifica attraverso
          le valutazioni degli utenti e al numero di lettori che seguono i tuoi lavori.
        </p>
      </div>
    </div>
  </div>
</section>
