<% provide(:title, "Ti diamo il benvenuto, Iscriviti, Accedi, Pubblica") %>
<!-- start of section 1 -->
<header id="header" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1><%= site_name %></h1>
      <h3>Share a new story</h3>
      <%= link_to "Entra nel forum", microposts_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</header>
<!-- end of section 1 -->

<!-- start of section 2 -->
<section id="section2" class="container">
  <div class="row text-center"> <!-- Riga caratteristiche -->
    <h2>Caratteristiche</h2>
  </div>
  <div class="row text-center"> <!-- Riga contenuto -->
    <div class="col-sm-4">
      <div class="cont-forum">
        <i class="features glyphicon glyphicon-book"></i>
        <%#= image_tag 'fe-1.jpg', class: "img-responsive" %>
        <h4><b>Racconti</b></h4>
        <p>
          Apri la mente e lascia
          spazio all'idee, realizza in maniera totalmente gratuita e intuitiva,
          racconti di qualsiasi genere.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cont-forum">
        <i class="features glyphicon glyphicon-paperclip"></i>
          <%#= image_tag 'fe-2.jpg', class: "img-responsive" %>
          <h4><b>Condividi</b></h4>
          <p>
            Condividi i tuoi racconti, gli altri utenti potranno commentare il tuo elaborato suggerendoti modifiche e valutarlo con semplici mi piace
          </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cont-forum">
        <i class="features glyphicon glyphicon-star"></i>
        <%#= image_tag 'fe-3.jpg', class: "img-responsive" %>
        <h4><b>Classifica</b></h4>
        <p>
          Diventa il miglior scrittore del sito e scala la classifica attraverso le valutazioni degli utenti e al numero di lettori che seguono i tuoi lavori.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- end of section 2 -->

<!-- start of section 3 -->
<!--<section id="section3" class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Immagina</h3>
      <h4>inizia subito, iscriviti e dai vita ad una nuova storia</h4>
    </div>
  </div>
</section>-->

<!--
<section id="section4">
  <div class="row text-center">
    <h1>Come funziona</h1>
  </div>
  <div class="col-xs-12">
	<div class="col-xs-6"></div>
	<div class="col-xs-6 text-center">
	 <div class="step">1</div>
	 <h3>Iscriviti gratuitamente</h3>
        </div>
      </div>
      <div class="row-funzionamento col-xs-12">
	<div class="col-xs-6 color-funzionamento text-center">
	<div class="step" style="float:right">2</div>
	 <h3>Scrivi un nuovo racconto</h3>
        </div>
	<div class="col-xs-6 image-funzionamento fu2"></div>
      </div>
      <div class="row-funzionamento col-xs-12">
	<div class="col-xs-6 image-funzionamento fu3"></div>
	<div class="col-xs-6 color-funzionamento text-center">
	  <div class="step">3</div>
	  <h3>Pubblicalo facilmente</h3>
        </div>
      </div>
</section> -->
