<% provide(:title, "Regolamento e Termini del sito") %>

<!-- start of section 2 -->
<section id="section-terms" class="content">
  <div class="row text-center"> <!-- Riga caratteristiche -->
    <div class="col-xs-12 background">
      <div class="row">
        <h3>Regolamento del sito</h3>
        <div class="col-sm-offset-1 col-xs-12 col-sm-10">
          <div class="cont-forum">
            <p style="text-align:justify">
              Il sito è interamente gratuito, il suo fine è quello di dare la possibilità ai suoi utenti di pubblicare i propri scritti e conseguentemente le proprie idee nella misura in cui quest’ultime utilizzino un linguaggio decoroso e rispettino le idee altrui, senza cercare scontri o conflitti.
              Bitbooks vuole agevolare la pubblicazione di romanzi o poesie, e scritti in genere, dando una possibilità a tutti coloro che altrimenti non avrebbero potuto.
            </p>
            <ul style="text-align:justify">
              <li>
                I dati inseriti dagli utenti saranno utilizzati unicamente per
                agevolare il funzionamento del sito e saranno rispettati in nome della privacy.
              </li>
              <li>
                Tutti gli utenti che non trasgrediranno dal regolamento, adottando
                un atteggiamento scorretto e conflittuale saranno rimossi dal suddetto sito.
              </li>
              <li>
                Bitbooks non si assume la responsabilità sui diritti dei testi
                pubblicati. Sarà questo piuttosto compito dell’utente stesso
                salvaguardare i diritti delle proprie opere pubblicate nel sito.
              </li>
            </ul>
            <p style="text-align:justify">Il team vi ringrazia per la collaborazione e vi augura il miglior utilizzo dell’applicazione.</p>
              <span style="font-size:11px"><b>10.06.2017 @Bitbooks-team</b></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
