<% provide(:title, "Regolamento e Termini del sito") %>

<!-- start of section 2 -->
<section id="section2" class="container">
  <div class="row text-center"> <!-- Riga caratteristiche -->
    <h2>Regolamento del sito</h2>
    
  </div>
</section>
