<% provide(:title, "Regolamento e Termini del sito") %>

<!-- start of section 2 -->
<section id="section-terms" class="content">
  <div class="row text-center"> <!-- Riga caratteristiche -->
    <div class="col-xs-12 background">
      <div class="row">
        <h3>Regolamento del sito</h3>
        <div class="col-sm-offset-1 col-xs-12 col-sm-10">
          <div class="cont-forum">
            <p>
            Ancora non disponibile  
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
