<div class="row">
  <div class="col-xs-2">
    <%= comment.user.username %>
  </div>
  <div class="col-xs-7">
    <%= comment.content %>
  </div>
  <div class="col-xs-3">
    <%= time_ago_in_words(comment.created_at) %>
  </div>
</div>
