<% provide(:title, "Notifiche") %>
<%= render layout: 'layouts/forum_layout' do %>
  <div class="main-list">
    <ol class="notification-list">
      <%= render @notifications %>
    </ol>
    <%= will_paginate @notifications %>
  </div>
</div>
<% end %>
