<%= render layout: 'layouts/forum_layout' do %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      Profilo
      <%= @user.username %>
      <%= @user.email %>
    </div>
    <div class="col-xs-12 col-md-4">
      Sidebars
    </div>
  </div>
<% end %>
