<% provide(:title, "Elenco racconti") %>
<%= render layout: 'layouts/forum_layout' do %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="main-list">
        <% if !@microposts.empty? %>
          <ul itemscope itemtype="http://schema.org/BreadcrumbList" class="post-list">
            <%= render @microposts %>
          </ul>
        <% else %>
          <h6>Non ci sono topic da visualizzare</h6>
        <% end %>
        <div class="text-center">
          <%= will_paginate @microposts,
                previous_label: "<span class=\"glyphicon glyphicon-chevron-left\"
                                  aria-hidden=\"true\"></span>",
                next_label:     "<span class=\"glyphicon glyphicon-chevron-right\"
                                  aria-hidden=\"true\"></span>"%>
                <!--inner_window: 0, outer_window: 0 %>-->
        </div>
      </div>
    </div>
    <%= render 'layouts/forum_sidebox' %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
      var x = $('li.active').index();
      var j = $('li.next').index()-1;
      var arrivo = x+3;
      var partenza = x-1;

      if (x == 1){
        partenza=x;
        arrivo=x+5;
      }
      else if (x == 2){ arrivo=x+4; }
      else if (x == (j-1)){ partenza=x-2 }
      else if (x == j){
        partenza=x-3;
        arrivo=x;
      }

      $(".main-list .pagination ul.pagination li:nth-child(n+"+partenza+"):nth-child(-n+"+arrivo+")").css("display", "inline");
  });
</script>
