<%= render layout: 'layouts/forum_layout' do %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="main-list">
        <% if !@microposts.empty? %>
          <ul class="post-list">
            <%= render @microposts %>
          </ul>
        <% else %>
          <h6>Non ci sono topic da visualizzare</h6>
        <% end %>
        <div class="text-center">
          <%= will_paginate @microposts,
                previous_label: "<span class=\"glyphicon glyphicon-chevron-left\"
                                  aria-hidden=\"true\"></span>",
                next_label:     "<span class=\"glyphicon glyphicon-chevron-right\"
                                  aria-hidden=\"true\"></span>"%>
                <!--inner_window: 0, outer_window: 0 %>-->
        </div>
      </div>
    </div>
    <%= render 'layouts/forum_sidebox' %>
  </div>
<% end %>
