<%= render layout: 'layouts/forum_layout' do %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="main-list">
        <% if !@microposts.empty? %>
          <ul class="post-list">
            <%= render @microposts %>
          </ul>
        <% else %>
          <h6>Non ci sono topic da visualizzare</h6>
        <% end %>
        <%= will_paginate @microposts,
              previous_label: "<span class=\"glyphicon glyphicon-chevron-left\"
                                aria-hidden=\"true\"></span>",
              next_label:     "<span class=\"glyphicon glyphicon-chevron-right\"
                                aria-hidden=\"true\"></span>",
              inner_window: 3, outer_window: 0 %>
      </div>
    </div>
    <aside class="col-xs-12 col-md-4">
      <div class="side-list">
        <h6>Amici</h6>
      </div>
      <div class="side-list">
        <h6>Classifica racconti</h6>
      </div>
    </aside>
  </div>
<% end %>
