/* 0.1                 */
/* Bootstrap variables */
$btn-primary-color:              #fff !default;
$btn-primary-bg:                 #2F2F2F ;
$btn-primary-border:             #2F2F2F ;

$btn-border-radius-base:         0 !default;
$btn-border-radius-large:        0 !default;
$btn-border-radius-small:        0 !default;

$input-border-radius-base:         0 !default;
$input-border-radius-large:        0 !default;
$input-border-radius-small:        0 !default;


$background-color: #d5d5d5;

$grey-light: #e9e9e9;
$grey-text:  #9da6aa;
$grey-primary-text: #989c9e;

$post-height: 138px;
$post-info-n: 4;
$post-info-height: $post-height/$post-info-n - 2;

$fonts: 'Open Sans', Helvetica, Arial, sans-serif;
/* roba di albi, tipo un altro tipo di bottoni */

/* end of Bootstrap variables */

@import "bootstrap-sprockets";
@import "bootstrap";

/* 0.2 */
/* Mixins */
@mixin unselectable {
 -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 not supported by any browser */
}

@mixin box {
    background-color:white;
    border-radius: 0;
    box-shadow: 0 1px 2px #c9cccd;
}
/* end of Mixins*/

/* 0.3           */
/* Generic rules */
html, body {
  height: 100%;
}

body {
  font-family: $fonts;
}

label{
  @include unselectable;
}

h1 { font-size: 50px; }
h2 { font-size: 34px; }
h3 { font-size: 27px; }
h4 { font-size: 19px; }
h5 { font-size: 15px; }
h6 { font-size: 13px; }

@media only screen and (max-width: $screen-xs-max) {
  h1 { font-size: 32px; }
  h2 { font-size: 25px; }
  h3 { font-size: 21px; }
  h4 { font-size: 18px; }
  h5 { font-size: 15px; }
  h6 { font-size: 13px; }

  p { font-size: 11.6px; }
  #background { padding:0; }
}

 .btn-primary { @media only screen and (max-width: $screen-xs-max) { font-size:12px;}}
 .disable { color: $grey-light !important; cursor: auto!important;}
/* Sticky footer */
#wrap {
	min-height: 100%;
	//height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
  //padding: 50px 0 60px;
}

.footer {
	height: 40px;
	background-color: #2F2F2F;
  p {
    margin-top: 20px;
  }
}

.glyphicon:before{
  margin-right:5px;
}

.border-left { border-left: 1px solid $grey-light;}

.border-bottom { border-bottom: 1px solid $grey-light;}

.border-top { border-top: 1px solid $grey-light;}

.border-right { border-right: 1px solid $grey-light;}

.padding-top{ padding-top:10px;}

 .main-list .pagination ul.pagination {
    a { padding: 4px 10px; margin-right:5px; color: #989898;}
    li.active a {
      background-color: #d8d8d8;
      border-color: #b4b4b4;
      cursor: default;
      color: #3e3c3c;
     }

     li.prev a, li.next a{
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
    }

    @media only screen and (max-width: $screen-xs-max){
       li { display:none; }
       li.next,li.active,li.prev { display:inline; }
       li:last-child { color: red;}
	  }
  }

.field {
  margin-bottom: 10px;
}

  input,.input-group,.input-group-addon { border-radius: 0!important;}
  .form-control:focus {
    border-color: #AEAEAE;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(195, 195, 195, 0.6);
   }

.btn-wide {
  width: 100%;
}

#error_explanation {
	padding: 15px;
	margin-bottom: 10px;

  background-color: #f2dede;
  border-radius: 3px;
	border: 1px solid #ebccd1;
  color: #a94442;

  ul {
  	padding: 0px;
  	list-style: none;
  	margin-bottom: 0px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.rw-number-notification {
    position:absolute;
    top: 0;
    right: 0;
    padding: 3px 3px 2px 3px;
    background-color:red;
    color:white;
    font-family: arial;
    font-weight:bold;
    font-size: 10px;
    border-radius: 4px;
    box-shadow:1px 1px 1px silver;
}
.post-text {
  a { color: #2F2F2F;}
  h4 { font-weight: bold; }
 }
.post-text, .comment-content{
  word-wrap: break-word;
  white-space: normal;
 }
/* end of Generic rules */

/* 0.4                       */
/* Notices and alerts style  */
.notice, .alert {
	position: absolute;
	top: 55px;
	left: 20px;
	right: 20px;
	background-color: rgba(222, 222, 146, 0.86);
	border-radius: 3px;
	padding: 12px;

  span {
    cursor: pointer;
  }
}
/* end of Notices and alerts style*/

/* 1.1          */
/* Header rules */
#header {
	background-image: url(image_path('index_bg.jpg'));
	background-position: center center;
	background-size: cover;
	padding:180px 0;
	overflow: hidden;

	h1 {
	  color: #FFF;
    //text-transform: uppercase;
    text-shadow: 2px 2px #000;
    font-size:90px;
	}

	h3 {
	  color: #d8d8d8;
    text-shadow: 1px 1px #000;
	}

	a {
    margin-top:20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  a:hover { background-color: rgba(47, 47, 47, 0.48); }

	@media only screen and (max-width: $screen-xs-max){
	  padding-top: 100px;
    padding-bottom: 30px;
    h1{ font-size: 62px; }
	}
}
/* end of Header rules */

/* 1.2             */
/* Section 2 rules */
#section2 {
  margin-top:50px;
  margin-bottom: 50px;
  .row div {
    margin-top:    30px;
    margin-bottom: 20px;
    .features{
      font-size: 36px;
      color: #2F2F2F;
      //border: 2px solid #2F2F2F;
      padding: 4px;
      //padding-left: 16px;
      //margin-bottom: 27px;
    }
    .cont-forum{
      padding:18px;
      background-color: #d3d3d34d;
    }
  }
}
/* end of Section 2 rules */

/* 1.3             */
/* Section 3 rules */
#section3 {
	background-image: url(image_path('bg-2.jpg')); /*inserisci percorso*/
	background-position: center center;
	background-size: cover;
	padding:130px 0;
	overflow: hidden;
	width:100%;
}

/* end of section 3 rules */

/* 1.4                    */
/* Login and Signin rules */
#sign-form{
  margin-top: 45px;
  height: 100%;
  margin-bottom: -45px;
  a{ display: inherit;}
  form, h2 {
    margin-left: 10px;
  }

   @media only screen and (max-width: $screen-xs-max) {
      .link{
        text-align:center;
        margin:10px 0 10px 0;
        a{ display: inline; }
        a{ border-right: 1px solid $grey-light; padding-right: 5px;}
        a:last-child { border:none; }
     }
   }
}

/* end of Login and Signin rules */

/* 1.5                */
/* User profile rules */
#profile {
  .user-avatar-container {
    //position: relative;
    //height: auto;
    //width: 100%;
    //margin-top:20px;
    padding:10px;
    img{margin: 0 auto; }

    span {
      position: absolute;
      //top: 20px;
      //left: 43px;
      //display: none;
      //width: 53.5%;
      //margin-left:30px;
      top: 14px;
      right: 24px;
      font-size: 16px;
      cursor: pointer;
      //@include unselectable;
      color: #c8c8c8;
      //background: RGBA(0, 0, 0, 0.47);
    }
    //&:hover span {
      //display: inline;
    //}
    .hiddenfile {
      width: 0;
      height: 0;
      overflow: hidden;
    }

    @media only screen and (max-width: $screen-xs-max) {
      //padding-left:0;
      padding:20px;
      span{
        top: 24px;
        right: 44px;
      }
    }
  }
}
/* End of User profile rules */

/* 2.0     */
/* Generic forum rules */
#background {
  background-color: $background-color;
  min-height: 100%;
}
  .cont-forum{
    @include box;
  }
#forum-main {
  header .crop-img {
    overflow-y: hidden;
    max-height: 250px;
    width: 100%;
  }
  .main-list{ padding: 0px 25px;}

  .content { padding-top: 20px;  padding-bottom:20px; background-color: #e9e9e9;}

  textarea{
      border-radius: 0;
      border: none;
      background-color: #ededed;
      padding:10px;
      margin-bottom:10px;
      resize:none;
  }

  .avatar {
    padding-left: 16px;
    margin-top:8px;
    text-align:center;
    img {
      height: 50px;
      width: 50px;
    }
    p {
      min-width: 60px;
      word-wrap: break-word;
    }

    @media only screen and (max-width: $screen-xs-max) {
      a{font-size: 11.6px;
        margin-left: -8px;}
     }
  }

  .side-box{
    @include box;
    margin-bottom: 30px;
    ul,h5 { padding:10px; margin:0;}
    h5 {font-weight: bold;}
    ul{
      list-style-type: none;
      a{ color:black; }
      li{
        padding:6px;
        border-bottom: 1px solid #e9e9e9;
        span.badge{
          font-size: 13px;
          background-color: #9da6aa;
        }
      }
       li:last-child{
        border:0;
        padding-bottom:0;
       }
       li:first-child { padding-top:0;}
    }
    .best-stories{
      li { padding-bottom:4px; margin-bottom:7px; border-bottom: 1px solid $grey-light; }
      li:last-child{
        border: none;
        margin: 0;
      }
      .avatar-ranking {
        float:left;
        padding-right:5px;
        img{
          width:34px;
          height:34px;
        }
        span { padding-right:10px;}
      }
      .story-ranking { padding-top:1px; }
      .story-ranking span { font-size:12px;  @media only screen and (max-width: $screen-xs-max) { font-size:10px; }}
    }
    .user-info{
      padding-left: 14px;
      padding-right: 14px;
      span.glyphicon { margin-left:7px; margin-bottom:13px;}
      p { font-size:13.5px; margin-left:4px;}
      .info{
          padding-top: 20px;
          height: 110px;
       }
      .glyphicon{font-size: 24px;}
    }
    @media only screen and (max-width: $screen-xs-max) {
      margin-bottom: 0px; margin-top: 30px;
      .user-info span.glyphicon { margin-left:8px; }
     }
  }

  /* Fix content div in mobile layout */
  @media only screen and (max-width: $screen-xs-max) {
    .content {
      background-color: inherit;
    }
    .avatar img{ height:40px; width:40px;}
    .main-list {
      padding: 0;
    }
  }
}

/* 2.1                 */
/* Notifications rules */
.notification-trigger {
  cursor: pointer;
}


.notification-list {
  padding: 0;
  list-style-type: none;

  .notification {
    @include box;
    min-height: 68px;
    margin-bottom: 5px;

    .notification-opts { padding-left: 10px; padding-bottom: 5px; }

     @media only screen and ( max-width: $screen-xs-max) {
      font-size: 11.5px;
      .notification-opts{
          border-left: 0;
          padding-left: 0;
       }
       .notify-text{ padding-bottom: 19px; border-bottom: 1px solid $grey-light;}

      }
   }
  .not-read{ background-color: #fffbef;}
}

.dropdown-menu {
  min-width: 230px;
  max-width: 320px;
  .dropdown-text {font-size:13px;}
  @media only screen and (min-width: $screen-sm-min) { width: 360px; }
  .dropdown-notification {
    padding: 2px 7px;
    width: 100%;
    a {
      padding: 0;
    }
    .dropdown-avatar {
      float: left;
      width: 12%;
      img {
        height: auto;
        width: 100%;
      }
    }
    .dropdown-text {
      float: left;
      padding-left: 5px;
      white-space: normal;
      width: 88%;
      word-wrap: break-word;
    }
    .clear-both { clear: both;}
  }
  .not-read {
    background-color: #fffdef;
  }
}

/* End of Notifications rules*/

/* 2.2                   */
/* Navbar of forum rules */

.f-navbar{
	padding: 10px 146px;

	img { height:28px; }
	.dropdown a { font-size:15px;}
	span.glyphicon-bell { font-size:24px; }
	.dropdown a, span.glyphicon-bell{ padding-top:4px; text-decoration:none; color:#2F2F2F;}
  .btn-search { height:34px; }
  #dropmenu { width: 80%;}
	@media only screen and (max-width: $screen-md-max){ padding: 10px 60px; }
	@media only screen and (max-width: $screen-xs-max)
	{
	  padding: 10px 12px;
	  img { height: 25px; }
	  .dropdown    { margin-left:  -12px; }
	  .input-group { margin-bottom: 8px;  }
	}
}
/* end of navbar forum rules */

/* end of Generic forum rules */

/* 2.3             */
/* Post list rules */
.post-list {
  list-style-type: none;
  padding: 0;

  .post {
    height: $post-height;
    margin-bottom: 10px;
    p { color: $grey-primary-text;}
    a { text-decoration:none; }
    .avatar p { margin-left: -10px; }
    .post-text{
       max-height: 126px;
       overflow: hidden;
    }
    .post-info {
      //padding: 0 10px;
      margin-left: 10px;
      height: $post-height;
      span {
        display: block;
        height: $post-info-height;
        padding: 10px 0 0;
        &:last-child { border-bottom: none; }

        font-size: 12px;
        color: $grey-text;
        i {
          font-family: $fonts;
          font-style: initial;
        }
      }
    }
    @media only screen and (max-width: $screen-xs-max){
        .post-text { padding-right:0px; }
      }
  }
}
/* end of Post list rules */

/* 2.4             */
/*  View rules */
.view{
  padding-bottom: 10px;
  margin-bottom:40px;

  p{
    min-height:95px;
    padding-right: 15px;
  }

  .view-info{
    padding:8px;
    .alter-padding { padding: 0px 6px;}
    .alter-padding2 { padding: 0px 26px;}
    //.glyphicon-thumbs-up { padding-right: 11px; }
    .glyphicon { color:#2F2F2F; cursor: pointer; }

    @media only screen and (max-width: $screen-xs-max){
      .alter-padding2 { padding: 0px; }
      .alter-padding { padding-right: 28px; }
      .glyphicon-thumbs-up { padding-right: 8px; }
    }
   }
  h4 span.glyphicon { font-size:14px; }
  h4 span.glyphicon-remove{
    padding-right:10px;
    padding-left:5px;
  }
}

.comment-area{
  min-height: 130px;
  padding-bottom:6px;
  form { padding: 10px; }
 }

 .comments-list{
  list-style:none;
  li { margin-bottom:10px;}
  .comment{
    span { font-size: 12px; padding:7px; word-spacing: -8px;}
    .comment-content{min-height: 68px;}
    .padding-text{
      padding-right: 13%;
      padding-top:18px;
    }
  }
  @media only screen and (max-width: $screen-xs-max){ padding: 0px;}
 }


/* end of View rules */


/* 2.5              */
/*  New topic rules */
.new-topic
{
  padding:10px 30px;
  padding-top:5px;
  #check_file {
    cursor: pointer;
  }
  .new-title input,select{
    border-radius: 0;
    border: none;
    background-color: #ededed;
    padding:10px;
    margin-bottom:10px;
   }
  .new-plot textarea{
    height:140px;
    resize: none;
   }
  .new-title input,.new-category select{ height:40px;}

   @media only screen and (max-width: $screen-xs-max){ padding: 10px;}
}
/*  end of new topic rules */

/* 2.6                */
/* New profile rules  */
.profile{
  height:auto;
  min-height:260px;
  margin-bottom:20px;
  .profile-btn{
    padding: 6px;
    margin-top:20px;
  }
  //margin-bottom:20px;
  //padding:10px;
  /*p { margin-bottom:2px;}
  span.glyphicon-cog{ cursor: pointer; font-size:16px; margin-top: -11px;}
  .profile-btn{
    padding: 8px;
    margin-top: 10px;
  }

  .profile-btn a {
      padding: 5px 30px 5px 30px;
      text-decoration:none;
  }

  @media only screen and (max-width: $screen-xs-max){
	  .profile-btn
	  {
	    margin-top:20px;
	    padding:10px 0px;
	    a { padding:0; padding-right: 5.5px;}
	  }
	  a { font-size:12px;}
	}*/
}

/*2.6.1 profile settings */

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#profile-settings{
  padding:10px 12px 20px 12px;
  h4 { margin-bottom:20px; }
  .input-group { margin-bottom:8px; }
  .nav-pills {
    li{ width:90%;  margin:0; a { border-radius:0px;} }
    li.active > a{
      color: #5c5c5c;
      background-color: #e9e9e9;
    }
  }
  .tab-content { padding-left:60px; }

  @media only screen and (max-width: $screen-xs-max){
      .tab-content { padding-left:0px; }
      .nav-pills{
        border:0;
        border-top: 1px solid $grey-light;
        padding-top: 10px;
        margin-top: 14px;
        li { width:100%;}
      }
  }
}

/* end profile settings */

/*  end profile rules  */


/*  2.7 viewer  */
#nav-viewer{
  padding:0px 30px;
  .title-viewer{
    padding-top:9px;
    font-size:21px;
    color: #d5d5d5 ;
    .back{
      color: #9d9d9d;
      padding-right:12px;
      margin-right:20px;
      text-decoration:none;
    }
    .back:focus, .back:hover { color: #fff; background-color: transparent; }
    .username{
      font-size: 16px;
      text-decoration: none;
      color:grey;
    }
  }
  .navbar-right .btn{
    padding: 7px 15px;
    background-color: rgba(74, 74, 74, 0.71);
	  margin: 6.5px 0px 6.5px 5px;
	 }
	 @media only screen and (max-width: $screen-sm-max) {
	  padding: 0px 10px;
	  .navbar-toggle { margin-right:0; }
	  .title-viewer { width:80%; float:left; font-size:16px; .username { font-size:13px; }}
	 }
}

#cont-viewer{
  padding-top:30px;
  margin-top: 40px;
  .paper{
    width: 800px; 	height: 1047px;
    padding: 40px 60px;
    box-shadow: 0 1px 2px #c9cccd;
    text-align: justify;
    margin: 0px auto 20px auto;
    p { font-size:12pt; }
    @media only screen and (max-width: $screen-xs-max) {
      width: 100%; height: 1300px; padding: 8px 12px;
      p { font-size: 12px !important;}
    }
    /*.separator{
      height: 26px;
      width: 122%;
      background-color: #d5d5d5;
      margin-left: -11%;
      margin-bottom:40px;
      margin-top:40px;
      @media only screen and (max-width: $screen-sm-max) { margin-bottom:6px; margin-top:6px; }
    }*/
  }
  @media only print { .paper{ padding:0px;} }
}

/*  end viewer rules  */
