<% if alert %>
  <div class="alert">
    <%= alert %>
    <div class="pull-right">
      <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="removeDiv('alert')"></span>
    </div>
  </div>
<% end %>
