<!-- Questo è il bel file che albi dovrà modificare -->
<section class="container" id="forum-main">
  <header style="min-height:200px;">
    <%= link_to microposts_path do %>
      <%= image_tag 'forum-bg.jpg', class: "img-responsive" %>
    <% end %>
    <div class="row"> <!-- NON MODIFICARE NIENTE AL DI FUORI DI QUI -->
      <div class="col-xs-12"> <!-- MODIFICA QUESTO col-xs-12 e metti quello che ti serve! -->
        QUI CI VA LA NAVBAR
        <%= link_to "Nuovo post", new_micropost_path, class: "btn btn-primary" %>
      </div>
    </div>            <!-- E QUI -->
  </header>
  <div class="content">
    <%= yield %>
  </div>
</section>
