<aside class="col-xs-12 col-md-4">
    <div class="main-list">
      <div class="side-box">
        <div class="border-bottom">
          <h5>Categorie</h5>
        </div>
        <ul class="cats">
          <% Category.all.each do |c| %>
            <li><a href="#"><%= c.name %> <span class="badge pull-right"> <%= c.microposts.count %> </span></a></li>
          <% end %>
        </ul>
      </div>
      <div class="side-box">
        <div class="border-bottom">
          <h5>Classifica racconti</h5>
        </div>
        <ul class="best-stories">
          <li>
            <div class="avatar-ranking">
              <span>#1</span><img alt="Immagine del profilo" class="img-circle" src="/assets/fallback/thumb_default_profile_picture-7e83bd3bc5785de84fe264195efaec811b25de4d497e105e867cdb89fb53c141.png"></img>
            </div>
            <div class="story-ranking">
              <h6>Titolo del racconto <span class="glyphicon glyphicon-thumbs-up pull-right">1020</span></h6>
            </div>
          </li>
          <li>
            <div class="avatar-ranking">
              <span>#2</span><img alt="Immagine del profilo" class="img-circle" src="/assets/fallback/thumb_default_profile_picture-7e83bd3bc5785de84fe264195efaec811b25de4d497e105e867cdb89fb53c141.png"></img>
            </div>
            <div class="story-ranking">
              <h6>Titolo del racconto <span class="glyphicon glyphicon-thumbs-up pull-right">1020</span></h6>
            </div>
          </li>
          <li>
            <div class="avatar-ranking">
              <span>#3</span><img alt="Immagine del profilo" class="img-circle" src="/assets/fallback/thumb_default_profile_picture-7e83bd3bc5785de84fe264195efaec811b25de4d497e105e867cdb89fb53c141.png"></img>
            </div>
            <div class="story-ranking">
              <h6>Titolo del racconto <span class="glyphicon glyphicon-thumbs-up pull-right">1020</span></h6>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </aside>
