<% if notice %>
  <div class="notice">
    <%= notice %>
    <div class="pull-right">
      <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="removeDiv('notice')"></span>
    </div>
  </div>
<% end %>
