<aside class="col-xs-12 col-md-4">
    <div class="main-list">
      <div class="side-box">
        <div class="border-bottom">
          <h5>Riassunto utente</h5>
        </div>
        <div class="row">
          <div class="user-info">
            <div class="col-xs-4">
              <div class="info text-center">
                <span class="glyphicon glyphicon-user"></span>
                <p>1000</p>
              </div>
            </div>
            <div class="col-xs-4 border-right border-left ">
              <div class="info text-center">
                <span class="glyphicon glyphicon-edit"></span>
                <p>1000</p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="info text-center">
                <span class="glyphicon glyphicon-education"></span>
                <p>Professore</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
